<h1>Hello IDS</h1>
<h2>My IDS Angular App</h2>

<br>

<ids-dropdown id="notification-filter-module-select" name="module" label="My Label" placeholder="Please select..." (selected)="handleOnChangeModule($event);">
  <ids-list-box>
    <ids-list-box-option [value]="null">Select...</ids-list-box-option>
    @for (module of modules; track module.mn) {
      <ids-list-box-option [value]="module.mn">{{ module.mdn }}</ids-list-box-option>
    }
  </ids-list-box>
</ids-dropdown>

<ids-multiselect id="notification-filter-module-select" name="module" label="My Label" placeholder="Please select..." (selected)="handleOnChangeModule($event);">
  <ids-list-box>
    <ids-list-box-option [value]="null">Select...</ids-list-box-option>
    @for (module of modules; track module.mn) {
      <ids-list-box-option [value]="module.mn">{{ module.mdn }}</ids-list-box-option>
    }
  </ids-list-box>
</ids-multiselect>

<!--
<ids-multiselect id="notification-filter-type-select" [label]="language['notification']" [placeholder]="language['select']" [disabled]="selectedSeverityLevels.length > 0"  (selected)="handleOnChangeNotificationTypes($event)">
  <ids-list-box>
    @for (notificationType of notificationTypesTranslated; track notificationType.type) {
    <ids-list-box-option style="padding: 5px 0px;" [value]="notificationType.type">
      <ids-checkbox style="line-height: 20px !important;" [label]="notificationType.label"></ids-checkbox>
    </ids-list-box-option>
    }
  </ids-list-box>
</ids-multiselect> -->
